
 <div class="container">
    <style>table, th, td {border: 1px solid black;}</style>
    <h2>Students List</h2>
    <table>
    <thead>
        <tr>
            <th>Student Id</th>
            <th>Name</th>
            <th>Program</th>
            <th>GPA</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
            <tr>
                <td>{{studId}}</td>
                <td>{{name}}</td>
                <td>{{program}}</td>
                <td>{{gpa}}</td>
            </tr>
        {{else}}
            <tr><td><strong>{{message}}</strong></td></tr>
        {{/each}}
    </tbody>
</table>
</div>